.About {
  padding: 30px 0 0 0;
}

.section-header {
  text-align: center;
  margin: 0 0 30px 0;
}

.About-grid {
  display: flex;
}

.About-text {
  margin: 0 100px 0 0;
  padding: 0 0 20px 0;
}

.About-img {
  flex: 1 0 200px;
  margin: -60px 30px 0 30px;
  
  img {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 960px) {
  .About-text {
    margin: 0 30px 0 0;
  }
}

@import "../variables";
@media (max-width: $md-screen) {
  .About-img {
    display: none;
  }
  .About-text {
    margin: 0;
  }
}